.focus-bg {
  background: linear-gradient(120deg, #3b82f6, #1e293b, #750788);
  background-size: 300% 300%;
  animation: gradientMove 8s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
